<a href="https://colab.research.google.com/github/Karan2109/Hotel-booking-analysis-EDA-project/blob/main/Function_and_Method_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1: Create a function in Python

In [6]:
def demo(name, age):
  #function name is demo

  #print function
  print(name, age)

#calling function
demo("Karan Singh", 23)

Karan Singh 23

Exercise 2: Create a function with variable length of arguments

In [17]:
def fun1(*args):
  for i in args:
    print(i)

#Calling Function
fun1(10,20,30,40,"\n")
fun1(10,20,30,'\n')
fun1(10,20)

10
20
30
40


10
20
30


10
20

Exercise 3: Return multiple values from a function

In [20]:
def calculation(a, b):
    add = a+b
    sub = a-b
    return add,sub

res = calculation(40, 10)
print(res)

(50, 30)

Exercise 4: Create a function with a default argument

In [23]:
def show_employee(name , salary = 9000):
  print('name = ', name , 'salary = ' ,salary)

# calling function
show_employee("Karan", salary = 12000)
show_employee("Singh Sabh")

name =  Karan salary =  12000
name =  Singh Sabh salary =  9000

Exercise 5: Create an inner function to calculate the addition in the following way

In [25]:
#outer fun
def cal1(a ,b):
  square = a**2
#inner fun
  def cal2(a ,b):
    return a + b
  
  add = cal2(a ,b)    
  return 5 + add

res = cal1(5, 10)
print(res)

20

Exercise 6: Create a recursive function

In [30]:
def rec_fun(num):
  if num:
    return num + rec_fun(num - 1)
  else:
    return 0

res = rec_fun(10)
print(res)

55

Exercise 7: Assign a different name to function and call it through the new name

In [34]:
def first_fun(name , age):
  print(name , age)
first_fun("Karan Singh",23)

#creating new function
new_fun = first_fun

new_fun("Singh Sabh", 24)

Karan Singh 23
Singh Sabh 24

Exercise 8: Generate a Python list of all the even numbers between 4 to 30

In [40]:
def even_no_list():
  for i in range(4 , 30 , 2):
      print(i)

In [37]:
print(list(range(4, 30, 2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Exercise 9: Find the largest item from a given list

In [42]:
x = [4, 6, 8, 24, 12, 2]
print(max(x))
print(min(x))

24
2

## Function Program

1. Write a Python function to find the Max of three numbers

In [4]:
def max_of_two_no(x , y):
  if x > y:
    return x
  return y

#max_of_two_no(5,10)

def max_of_three_no(x, y, z):
  return max_of_two_no(x , max_of_two_no(y, z))

print(max_of_three_no(10, 20, 5))

20

2. Write a Python function to sum all the numbers in a list

In [8]:
def sum(Number):
  total = 0
  for i in Number:
    total += i
  return total

print(sum((8, 2, 3, 0, 7)))

20

3. Write a Python function to multiply all the numbers in a list

In [10]:
def mult(number):
  total = 1
  for i in number:
    total *= i
  return total

print(mult((8, 2, 3, -1, 7)))

-336

4. Write a Python program to reverse a string.

In [13]:
def rev_str(string):
  return string[::-1]

str = '1234abcd'
print('Original String :', str)
print('Reversed String :', rev_str(str))

Original String : 1234abcd
Reversed String : dcba4321

5. Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [17]:
def fact(num):
  factorial = 1
  if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
  elif num == 0:
    print("The factorial of 0 is 1")
  else:
    for i in range(1,num + 1):
       factorial = factorial*i
    return factorial

print(fact(3))

'''
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

'''

6

6. Write a Python function to check whether a number falls in a given range

In [20]:
def test_range(n):
  if n in range(1, 5):
    print("Number exist between the range : ", n)
  else:
    print("Number is out of range")

test_range(4)

Number exist between the range :  4

7. Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

In [5]:
def string_test(s):
  d = {'UPPER_CASE' : 0, 'LOWER_CASE' : 0}
  for c in s:
    if c.isupper():
      d['UPPER_CASE']+=1
    elif c.islower():
      d['LOWER_CASE']+=1
    else:
      pass
  print("No of upper case char : " , d['UPPER_CASE'])
  print("No of lower case char : " , d['LOWER_CASE'])

# Calling Function
string_test('KaraN SingH')

No of upper case char :  4
No of lower case char :  6

8. Write a Python function that takes a list and returns a new list with unique elements of the first list

In [7]:
def unique_elem(n):
  x = []
  for m in n:
    if m not in x:
      x.append(m)
  return x

#Calling function
print(unique_elem([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

9. Write a Python function that takes a number as a parameter and check the number is prime or not.

In [21]:
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(test_prime(9))

True

10. Write a Python program to print the even numbers from a given list.

In [28]:
def even_no(num):
  u_list = []
  for i in num:
    if i%2 == 0:
      u_list.append(i)
  return u_list

#calling function

print(even_no([1, 2, 3, 4, 5, 6, 7, 8, 9]))

[2, 4, 6, 8]

11. Write a Python function to check whether a number is perfect or not.

In [4]:
def perfect_no(num):
  sum = 0
  for n in range(1, num):
    if num % n == 0 :
      sum = sum + n
  if sum == num:
    print("The entered number is a perfect number")  
  else:  
    print("The entered number is not a perfect number")  

# calling function

print(perfect_no(6))

The entered number is a perfect number
None

12. Write a Python function that checks whether a passed string is palindrome or not.

In [11]:
def ispalindrome(s):
  return s == s[::-1]

# calling function
print(ispalindrome('malayalam'))

True

13. Write a Python function that prints out the first n rows of Pascal's triangle.

In [6]:
def pascal_triangle(num):
  tri = [[] for i in range(num)]
  for i in range(num):
    for j in range(i+1):
      if (j<i):
        if(j == 0):
          tri[i].append(1)
        else :
          tri[i].append(tri[i-1][j]+tri[i-1][j-1])
      elif (j == i):
        tri[i].append(1)
  return tri

# calling function
print(pascal_triangle(5))

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

14. Write a Python function to check whether a string is a pangram or not.

In [14]:
import string
def ispangram(str):
  alphabet = "abcdefghijklmnopqrstuvwxyz"
  for char in alphabet:
    if char not in str.lower():
      return False
  return True

# Calling function
print(ispangram("The quick brown fox jumps over the lazy dog "))

True

15. Write a Python function to create and print a list where the values are square of numbers between 1 and 30 (both included)

In [5]:
def value():
  l = []
  for i in range(1,31):
    l.append(i**2)
  print(l)

# Calling function
print(value())

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]
None

16. Write a Python program to detect the number of local variables declared in a function.

In [12]:
def abc():
    x = 1
    y = 2
    str1= "w3resource"
    str2 = 'Karan'
    print("Python Exercises")

print(abc.__code__.co_nlocals)

4