<a href="https://colab.research.google.com/github/Karan2109/Hotel-booking-analysis-EDA-project/blob/main/Function_and_Method_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1: Create a function in Python

In [6]:
def demo(name, age):
  #function name is demo

  #print function
  print(name, age)

#calling function
demo("Karan Singh", 23)

Karan Singh 23

Exercise 2: Create a function with variable length of arguments

In [17]:
def fun1(*args):
  for i in args:
    print(i)

#Calling Function
fun1(10,20,30,40,"\n")
fun1(10,20,30,'\n')
fun1(10,20)

10
20
30
40


10
20
30


10
20

Exercise 3: Return multiple values from a function

In [20]:
def calculation(a, b):
    add = a+b
    sub = a-b
    return add,sub

res = calculation(40, 10)
print(res)

(50, 30)

Exercise 4: Create a function with a default argument

In [23]:
def show_employee(name , salary = 9000):
  print('name = ', name , 'salary = ' ,salary)

# calling function
show_employee("Karan", salary = 12000)
show_employee("Singh Sabh")

name =  Karan salary =  12000
name =  Singh Sabh salary =  9000

Exercise 5: Create an inner function to calculate the addition in the following way

In [25]:
#outer fun
def cal1(a ,b):
  square = a**2
#inner fun
  def cal2(a ,b):
    return a + b
  
  add = cal2(a ,b)    
  return 5 + add

res = cal1(5, 10)
print(res)

20

Exercise 6: Create a recursive function

In [30]:
def rec_fun(num):
  if num:
    return num + rec_fun(num - 1)
  else:
    return 0

res = rec_fun(10)
print(res)

55

Exercise 7: Assign a different name to function and call it through the new name

In [34]:
def first_fun(name , age):
  print(name , age)
first_fun("Karan Singh",23)

#creating new function
new_fun = first_fun

new_fun("Singh Sabh", 24)

Karan Singh 23
Singh Sabh 24

Exercise 8: Generate a Python list of all the even numbers between 4 to 30

In [40]:
def even_no_list():
  for i in range(4 , 30 , 2):
      print(i)

In [37]:
print(list(range(4, 30, 2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Exercise 9: Find the largest item from a given list

In [42]:
x = [4, 6, 8, 24, 12, 2]
print(max(x))
print(min(x))

24
2

## Function Program