<a href="https://colab.research.google.com/github/Karan2109/Hotel-booking-analysis-EDA-project/blob/main/Practice_for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1: Print First 10 natural numbers using while loop

In [6]:
i = 0
while i < 10:
  i = i+1
  print("Natural no : ",i)

Natural no :  1
Natural no :  2
Natural no :  3
Natural no :  4
Natural no :  5
Natural no :  6
Natural no :  7
Natural no :  8
Natural no :  9
Natural no :  10

Exercise 2 : Print the pattern

In [18]:
row = 5
for i in range(1 , row + 1, 1):
  for j in range(1 , i + 1):
    print(j , end = " ")
  print("\n ")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

Exercise 3: Calculate the sum of all numbers from 1 to a given number

In [44]:
s = 0
num = int(input("Enter Number :"))
for i in range(1 , num+1 , 1):
  s += i
print("The sum is ",s)

Enter Number :100
The sum is  5050

Exercise 4: Write a program to print multiplication table of a given number

In [38]:
n = 11
for i in range(1 , 11):
  y = n*i
  print(n,"x",i,"=",y)

11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

Exercise 5: Display numbers from a list using loop

In [43]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
  if i > 500:
    break
  elif i > 150:
    continue 
  elif i%5 == 0:
    print(i)

75
150
145

Exercise 6: Count the total number of digits in a number

In [47]:
num = int(input("Enter number = "))
count = 0
while num != 0:
  num = num//10
  count = count + 1
print("Total number is ",count)

Enter number = 5235202583582
Total number is  13

Exercise 7: Print the following pattern

In [60]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print('\n')

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1


Exercise 8: Print list in reverse order using a loop

In [62]:
list1 = [10, 20, 30, 40, 50]
list2 = reversed(list1)

for i in list2:
  print(i)

50
40
30
20
10

 Exercise 9 :Display numbers from -10 to -1 using for loop

In [64]:
for i in range(-10,0,1):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Exercise 10: Use else block to display a message “Done” after successful execution of for loop

In [65]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!