<a href="https://colab.research.google.com/github/Karan2109/Hotel-booking-analysis-EDA-project/blob/main/Practice_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1: Print First 10 natural numbers using while loop

In [6]:
i = 0
while i < 10:
  i = i+1
  print("Natural no : ",i)

Natural no :  1
Natural no :  2
Natural no :  3
Natural no :  4
Natural no :  5
Natural no :  6
Natural no :  7
Natural no :  8
Natural no :  9
Natural no :  10

Exercise 2 : Print the pattern

In [4]:
row = 3
for i in range(1 , row + 1, 1):
  for j in range(1 , i + 1):
    print(j , end = " ")
  print("\n ")

1

1 2

1 2 3

Exercise 3: Calculate the sum of all numbers from 1 to a given number

In [44]:
s = 0
num = int(input("Enter Number :"))
for i in range(1 , num+1 , 1):
  s += i
print("The sum is ",s)

Enter Number :100
The sum is  5050

Exercise 4: Write a program to print multiplication table of a given number

In [6]:
n = int(input("Enter table no : "))
for i in range(1 , 11):
  y = n*i
  print(n,"x",i,"=",y)

Enter table no : 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Exercise 5: Display numbers from a list using loop

In [43]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
  if i > 500:
    break
  elif i > 150:
    continue 
  elif i%5 == 0:
    print(i)

75
150
145

Exercise 6: Count the total number of digits in a number

In [47]:
num = int(input("Enter number = "))
count = 0
while num != 0:
  num = num//10
  count = count + 1
print("Total number is ",count)

Enter number = 5235202583582
Total number is  13

Exercise 7: Print the following pattern

In [60]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print('\n')

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1


Exercise 8: Print list in reverse order using a loop

In [62]:
list1 = [10, 20, 30, 40, 50]
list2 = reversed(list1)

for i in list2:
  print(i)

50
40
30
20
10

 Exercise 9 :Display numbers from -10 to -1 using for loop

In [64]:
for i in range(-10,0,1):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Exercise 10: Use else block to display a message “Done” after successful execution of for loop

In [65]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

Exercise 11: Write a program to display all prime numbers within a range

In [14]:
s = 25
e = 50
for num in range(s ,e+1):
  if num > 1:
    for i in range(2, num):
      if num%i == 0:
        break
    else:
      print(num)

29
31
37
41
43
47

Exercise 12: Display Fibonacci series up to 10 terms

In [22]:
num1 = 0
num2 = 1

for i in range(10):
  print(num1,end=" ")
  res = num1+num2

  num1 = num2
  num2 = res

0 1 1 2 3 5 8 13 21 34 89

Exercise 13: Find the factorial of a given number

In [28]:
factorial = 1
n = int(input("Enter Factorial No : "))

for i in range(1 ,n+1):
  factorial = factorial * i
print(factorial)

Enter Factorial No : 0
1

Exercise 14: Reverse a given integer number

In [34]:
num = 123456
reversed_number = 0

while num > 0:
  reminder = num%10
  reversed_number = (reversed_number * 10) + reminder
  num = num // 10
print("Reversed Number", reversed_number)

Reversed Number 654321

Exercise 15: Use a loop to display elements from a given list present at odd index positions

In [38]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

Exercise 16: Calculate the cube of all numbers from 1 to a given number

In [46]:
num = 3
for i in range(1 ,num+1):
  c = i*i*i
  print("The cube of",i,"is",c)

The cube of 1 is 1
The cube of 2 is 8
The cube of 3 is 27

Exercise 17: Find the sum of the series upto n terms

In [52]:
n = 5
start = 2
sum_seq = 0

for i in range(0 ,n):
  print(start, end = "+")
  sum_seq += start
  start = start * 10 + 2
print("\n",sum_seq)

2+22+222+2222+22222+
 24690